#abd .rota {
	background-color: #0153a0;
}

#abd008 {
	width: 58px;
	left: 409px;
	top: 752px;
}

#abd009 {
	width: 240px;
	left: 429px;
	top: 835px;
}

#abd010 {
	width: 207px;
	left: 631px;
	top: 919px;
}

#abd011 {
	width: 401px;
	left: 775px;
	top: 779px;
}

#abd012 {
	height: 72px;
	left: 798px;
	top: 921px;
}