#amarela .rota {
	background-color: #fed304;
}

#amarela001 {
    left: 290px;
    top: 579px;
}

#amarela001 strong {
    left: -46px;
    top: 7px;
}

#amarela002 {
    left: 452px;
    top: 579px;
}

#amarela002 strong {
    left: -36px;
    line-height: 0.9;
	text-align: left;
}

#amarela003 {
    left: 489px;
    top: 579px;
}

#amarela003 strong {
    left: -58px;
    line-height: 0.9;
    text-align: left;
}

#amarela004 {
    left: 545px;
    top: 554px;
}

#amarela004 strong {
    left: 14px;
    top: 7px;
}

#amarela005 {
    left: 610px;
    top: 418px;
}

#amarela005 strong {
    left: -19px;
    top: 14px;
}

#amarela006 {
    top: 577px;
    left: 288px;
    width: 241px;
}

#amarela007 {
	left: 501px;
    top: 528px;
    width: 144px;
}

#amarela008 {
    height: 65px;
    top: 423px;
    left: 615px;
}

#amarela009 {
    width: 23px;
    top: 418px;
    left: 604px;
}