#azul .rota {
	background-color: #0153a0;
}

#azul001 {
	left: 652px;
	top: 204px;
}

#azul002 {
	left: 652px;
	top: 225px;
}

#azul003 {
	left: 652px;
	top: 245px;
}

#azul004 {
	left: 652px;
	top: 265px;
}

#azul005 {
	left: 652px;
	top: 285px;
}

#azul006 {
	left: 652px;
	top: 307px;
}

#azul007 {
	left: 652px;
	top: 328px;
}

#azul008 {
	left: 652px;
	top: 349px;
}

#azul009 {
	left: 652px;
	top: 376px;
}

#azul010 {
	left: 652px;
	top: 452px;
}

#azul010 strong {
	left: 12px;
}

#azul011 {
	left: 652px;
	top: 499px;
}

#azul011 strong {
	left: 11px;
}

#azul012 {
	left: 652px;
	top: 527px;
}

#azul012 strong {
	left: 13px;
}

#azul013 {
	left: 652px;
	top: 579px;
}

#azul014 {
	left: 652px;
	top: 635px;
}

#azul015 {
	left: 652px;
	top: 670px;
}

#azul015 strong {
	left: 14px;
}

#azul016 {
	left: 652px;
	top: 688px;
}

#azul016 strong {
	left: 14px;
}

#azul017 {
	left: 652px;
	top: 747px;
}

#azul018 {
	left: 652px;
	top: 768px;
}

#azul019 {
	left: 652px;
	top: 788px;
}

#azul020 {
	left: 652px;
	top: 808px;
}

#azul021 {
	left: 652px;
	top: 828px;
}

#azul022 {
	left: 652px;
	top: 847px;
}

#azul023 {
	left: 652px;
	top: 874px;
}

#azul024 {
	height: 704px;
	left: 650px;
	top: 202px;
}