#coral .rota {
	background-color: #f04d22;
}

#coral011 {
	width: 30px;
    left: 1077px;
    top: 446px;
}

#coral012 {
	width: 102px;
    left: 1084px;
    top: 413px;
}

#coral013 {
	width: 113px;
    left: 1164px;
    top: 379px;
}