#diamante .rota {
	background-color: #9e9e93;
}

#diamante022 {
	width: 77px;
    top: 395px;
    left: 12px;
}

#diamante023 {
	width: 297px;
    top: 414px;
    left: 69px;
}

#diamante024 {
    width: 35px;
    top: 405px;
    left: 353px;
}

#diamante025 {
    width: 203px;
    top: 396px;
    left: 375px;
}