#esmeralda .rota {
	background-color: #00a78e;
}

#esmeralda016 {
    width: 41px;
    top: 432px;
    left: 312px;
}

#esmeralda017 {
    width: 95px;
    top: 462px;
    left: 331px;
}

#esmeralda018 {
    height: 457px;
    left: 404px;
    top: 494px;
}