#expresso .rota {
	background-color: #7a1211;
}

#expresso002 {
	width: 138px;
	left: 183px;
	top: 74px;
}

#expresso003 {
	width: 109px;
	left: 304px;
	top: 112px;
}

#expresso004 {
	height: 180px;
	top: 151px;
	left: 395px;
}

#expresso005 {
	width: 87px;
	left: 383px;
	top: 359px;
}

#expresso006 {
	width: 170px;
	top: 389px;
	left: 456px;
}

#expresso007 {
	width: 42px;
	left: 619px;
	top: 403px;
}

#expresso008 {
	width: 194px;
	top: 417px;
	left: 655px;
}

#expresso009 {
	width: 100px;
	left: 833px;
	top: 382px;
}

#expresso010 {
	width: 219px;
	left: 917px;
	top: 347px;
}

#expresso011 {
	width: 36px;
	left: 1129px;
	top: 359px;
}

#expresso012 {
	width: 97px;
	left: 1159px;
	top: 372px;
}

#expresso013 {
	height: 52px;
    left: 757px;
    top: 419px;
}

#expresso014 {
    width: 595px;
    top: 679px;
    left: 671px;
}