#lilas .rota {
	background-color: #a54499;
}

#lilas001 {
    left: 228px;
    top: 834px;
}

#lilas001 strong {
    left: -91px;
    top: 9px;
}

#lilas002 {
    left: 270px;
    top: 834px;
}

#lilas002 strong {
    left: -81px;
    top: 9px;
}

#lilas003 {
    left: 312px;
    top: 834px;
}

#lilas003 strong {
    left: -93px;
    top: 9px;
}

#lilas004 {
    left: 354px;
    top: 834px;
}

#lilas004 strong {
    left: -100px;
    top: 11px;
}

#lilas005 {
    left: 392px;
    top: 841px;
}

#lilas005 strong {
    left: -80px;
    top: 1px;
}

#lilas006 {
    left: 431px;
    top: 842px;
}


#lilas006 strong {
    left: 9px;
    line-height: 1;
    bottom: 4px;
}

#lilas007 {
    left: 464px;
    top: 842px;
}

#lilas007 strong {
	bottom: 0;
	line-height: 1;
}

#lilas008 {
    left: 224px;
	top: 832px;
    width: 169px;
}

#lilas009 {
    left: 382px;
    top: 836px;
    width: 20px;
}

#lilas010 {
	left: 391px;
    top: 840px;
	width: 85px;
}