#rubi .rota {
	background-color: #9e1766;
}

#rubi018 {
    width: 138px;
    left: 183px;
    top: 81px;
}

#rubi019 {
    width: 81px;
    left: 301px;
    top: 106px;
}

#rubi020 {
	width: 60px;
    left: 360px;
    top: 125px;
}

#rubi021 {
	height: 187px;
    left: 402px;
    top: 144px;
}

#rubi022 {
	width: 84px;
    left: 392px;
    top: 347px;
}

#rubi023 {
    width: 182px;
    left: 456px;
    top: 374px;
}

#rubi024 {
    width: 30px;
    left: 625px;
    top: 381px;
}