#safira .rota {
	background-color: #083e89;
}

#safira014 {
	width: 85px;
    left: 762px;
    top: 401px;
}

#safira015 {
	width: 109px;
    left: 825px;
    top: 366px;
}

#safira016 {
	width: 234px;
    left: 910px;
    top: 331px;
}

#safira017 {
	width: 50px;
    left: 1129px;
    top: 345px;
}