#verde .rota {
	background-color: #008061;
}

#verde000 {
	left: 447px;
	top: 483px;
}

#verde000 strong {
    left: 11px;
    top: 2px;
}

#verde001 {
	left: 472px;
	top: 508px;
}

#verde001 strong {
    top: -6px;
}

#verde001 strong small {
    bottom: 3px;
}

#verde018 {
    left: 510px;
    top: 546px;
}

#verde018 strong {
    left: 12px;
}

#verde002 {
    left: 541px;
    top: 577px;
}

#verde002 strong {
    left: -73px;
    top: 1px;
}

#verde003 {
    left: 572px;
    top: 608px;
}

#verde003 strong {
    left: -88px;
    bottom: 1px;
}

#verde004 {
    left: 603px;
    top: 639px;
}

#verde004 strong {
    left: -64px;
}

#verde007 {
	left: 723px;
	top: 720px;
}

#verde007 strong {
    left: 12px;
    bottom: 8px;
}

#verde008 {
	left: 752px;
	top: 720px;
}

#verde008 strong {
    left: 11px;
    bottom: 9px;
}

#verde009 {
	left: 781px;
	top: 720px;
}

#verde009 strong {
    left: 11px;
    bottom: 11px;
}

#verde010 {
    left: 839px;
    top: 672px;
}

#verde010 strong {
    top: 16px;
    left: 5px;
    font-size: 13px;
}

#verde012 {
	width: 274px;
	left: 407px;
	top: 575px;
}

#verde013 {
    top: 671px;
    height: 25px;
    left: 632px;
}

#verde014 {
    top: 703px;
    width: 53px;
    left: 628px;
}

#verde015 {
	top: 718px;
    width: 136px;
    left: 665px;
}

#verde016 {
	top: 655px;
    width: 185px;
    left: 766px;
}

#verde017 {
	top: 577px;
    left: 915px;
    height: 26px;
}