#vermelha .rota {
	background-color: #ee3e34;
}

#vermelha001 {
	left: 544px;
	top: 416px;
}

#vermelha001 strong {
    left: -72px;
    line-height: 1;
    top: -7px;
}

#vermelha002 {
	left: 565px;
	top: 438px;
}

#vermelha002 strong {
    left: -76px;
    top: -1px;
}

#vermelha003 {
	left: 582px;
	top: 455px;
}

#vermelha003 strong {
    left: -75px;
    top: -1px;
}

#vermelha004 {
	left: 602px;
	top: 475px;
}

#vermelha004 strong {
    left: -59px;
}

#vermelha005 {
	left: 634px;
	top: 477px;
}

#vermelha005 strong {
    left: -72px;
    top: 8px;
}

#vermelha007 {
	left: 710px;
	top: 477px;
}

#vermelha007 strong {
    top: 6px;
    left: 15px;
}

#vermelha008 {
	left: 740px;
	top: 464px;
}

#vermelha008 strong {
    left: 18px;
    top: 1px;
}

#vermelha009 {
    left: 790px;
    top: 448px;
}

#vermelha009 strong {
    left: 12px;
    top: 10px;
}

#vermelha010 {
    left: 810px;
    top: 448px;
}

#vermelha010 strong {
    left: 12px;
    top: 10px;
}

#vermelha011 {
    left: 833px;
    top: 448px;
}

#vermelha011 strong {
    left: 12px;
    top: 11px;
}

#vermelha012 {
    left: 859px;
    top: 448px;
}

#vermelha012 strong {
    top: 11px;
    left: 10px;
}

#vermelha013 {
	left: 886px;
	top: 448px;
}

#vermelha013 strong {
    top: 11px;
    left: 11px;
}

#vermelha014 {
	left: 913px;
	top: 448px;
}

#vermelha014 strong {
    left: 10px;
    top: 12px;
}

#vermelha015 {
	left: 940px;
	top: 448px;
}

#vermelha015 strong {
    left: 14px;
    top: 6px;
}

#vermelha016 {
	left: 967px;
	top: 448px;
}

#vermelha016 strong {
    top: 10px;
    left: 12px;
}

#vermelha017 {
	left: 994px;
	top: 448px;
}

#vermelha017 strong {
    top: 10px;
    left: 10px;
}

#vermelha018 {
	left: 1017px;
	top: 448px;
}

#vermelha018 strong {
    left: 20px;
    top: 1px;
}

#vermelha019 {
    top: 445px;
    left: 531px;
    width: 95px;
}

#vermelha020 {
    left: 604px;
    top: 475px;
    width: 132px;
}

#vermelha021 {
    width: 49px;
    top: 461px;
    left: 721px;
}

#vermelha022 {
    width: 276px;
    top: 446px;
    left: 755px;
}